.NavbarItems {
    background: #292929;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.navbar-logo {
    color: white;
    justify-self: start;
    margin: 20px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 25px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 30px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    color: red;
    border-radius: 22px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: white;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.navbar-title {
    font-weight: 800;
}

* {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}